.App {
  text-align: center;
  color: 	white;
  background-color: #191414;
  height: 100%
}
body, #app {
  height: 100%
}

.box {
  border-radius: 25px;
  margin: 8px;
  background-color: #282828;
}


.image {
  width: 75%
}
.song {
  width: 22%;
  min-width: 200px
}

.buttonviewunclicked {
  margin-top: 8%;
}

.buttonviewclicked {
  margin-top: 8%;
}

.logoplacement {
  height: 300px
}
@media screen and (max-width: 1100px) {

  .song {
    width: fit-content;
  }
  .image {
    width: fit-content;
  }
  .buttonviewunclicked {
    margin-top: 0%;
  }
  .buttonviewclicked {
    margin-top: 4%;
  }
  .logoplacement {
    height: auto;
    width:  80%
  }
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
